{% extends "base.html" %}

{% block content %}
    <h1>New Post!</h1>
    <form method='post'>
        <label>
            New Blog Title:<br>

            <input type="text" name='blog_title'value='{{blog_title}}' />
        </label>
        <span class="error">{{title_error}}</span><br>
        <br>
        <label>
            New Blog Content:<br>
            <textarea name='new_content' value='{{new_content}}' rows="25" cols="50"></textarea>
        </label>
        <span class="error">{{content_error}}</span><br>
        <br>
        <input type="submit" value='Blog Dem Feelz!' />
    </form>


{% endblock %}