
<!doctype html>
<html>
    <head> 
        <style>
        .error {
                color: red;
            }
        div {
            color: red;
        }
        </style>
        <title>{{title}}</title>
    </head>
<body>

    <div>
        <a href='/blog'>All Dem Blogs</a>
        <a href='/newpost'>Write a New Blog</a>
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
    
    {% for category,message in messages %}
        <div class="{{category}}">{{message}}</div>
    {% endfor %}

    {% endwith %}


    {% block content %}
    {% endblock %}

</body>
</html>