{% extends "base.html" %}

{% block content %}
    <h1>Dis Little Blog O' Mine!</h1>

    <hr />

    {% if blog_posts|length == 0 %}
    <p>No blogs yet.</p>
    {% else %}

        <ul>
            {% for blog in blog_posts %}
            <li><h2>{{blog.title}} </h2><br>
                {{blog.body}} <br>

                <form method="POST" action="/dat_blog_doh" style="display:inline-block;">
                    <input type="hidden" name="blog-id" value="{{blog.id}}" />
                    
                </form>

            </li>
            {% endfor %}
        </ul>

    {% endif %}

    <hr />

{% endblock %}